/* main.css */
body {
  background-color: orange;
  margin: 5%;
  overflow: hidden;
  font-size: 100px;
  color: black;
  text-align: center;
  font-weight : bold;
 }
 
 h1 {
  position: absolute;
  width: 100%;
  font-size: 1.0rem;
  z-index: 1;
 }
 
 #scene-container {
  position: fixed;
  left: 0;
  width: 50%;
  height: 100%;
 }
 
 button {
  background-color: beige;
  border: none;
  color: coral;
  opacity: 0.6;
  width: 450px;
  height: 70px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin: 5% 20%;
  font-weight : bold;
}
input {
  border-color: coral;
  border-width: 5px;
  background-color: beige;
  width: 450px;
  height: 70px;
  font-size: 30px;
  font-weight : bold;
  color: orange;
}
#nameRecord{
  background-color: orange;
  position: absolute; /* Reposition logo from the natural layout */
  left: 25%;
  top: 0%;
  text-align: center;
  padding: 15% 0%;
  width: 50%;
  height: 100%;
  margin: auto;
  height: 200px;
  z-index: 2;
  display: none;
}

#restart {
  background-color: orange;
  position: absolute; /* Reposition logo from the natural layout */
  left: 25%;
  top: 0%;
  text-align: center;
  padding: 15% 0%;
  width: 50%;
  height: 100%;
  margin: auto;
  height: 200px;
  z-index: 2;
}

.submit {
  background-color: beige;
  border: none;
  color: coral;
  opacity: 0.6;
  width: 200px;
  height: 70px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin: 5% 20%;
  font-weight : bold;
}

button:hover {
  opacity: 1; 
  color: red;
}