/* main.css */
body {
  background-color: orange;
  margin: 5%;
  overflow: hidden;
  font-size: 100px;
  color: black;
  text-align: center;
  font-weight : bold;
 }
 
 h1 {
  position: absolute;
  width: 100%;
  font-size: 1.0rem;
  z-index: 1;
 }
 
 #scene-container {
  position: fixed;
  width: 100%;
  height: 100%;
 }
 
 button {
  background-color: beige;
  border: none;
  color: coral;
  opacity: 0.6;
  width: 450px;
  height: 70px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin: 5% 20%;
  font-weight : bold;
}
button:hover {
  opacity: 1; 
  color: red;
}

#myProgress {
  align-self: center;
  width: 100%;
  background-color: beige;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: coral;
}